azure-identity
azure-keyvault-secrets
black
coverage
cryptography
dpath
flake8
flask
flask_httpauth
openapi-core==0.14.2
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
pyjwt
requests
sentry-sdk[flask]