--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
requests

# flask and plugins
flask
flasgger
flask_cors
Flask-RESTful

# TMA token verification tools
tma-saml>=0.2

# testing tools
flake8
coverage
